.wrapper{
	padding: 90px 0;
    border-bottom: 1px solid #eee;
}

#blog_banner{
    padding-top: 70px;
    background-position-y: 35%;
}

.blog_box{
	box-shadow: 0 0 43px #eee;
}

@media only screen and (max-width: 600px) {
  .blog_box{
	
}
}