:root{
	--primary: #33f;
	--vuejs: #52b37e;
}

.outer_block{
	transition: ease 0.5s;
	margin-bottom: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.outer_block:hover{
	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

body{
	background-image: url('/assets/bg001.png');
	background-repeat: no-repeat;
	background-size: cover;
	
}

/* blog sidebar css */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--primary);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #ccc;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

  #open-btn{
	position: fixed;
    bottom: 20px;
    left: 20px;
    background: var(--primary);
    padding: 7px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.5;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    display: block;
    opacity: 0.9;
    box-shadow: 0 0 43px #ababab9e;
    z-index: 1;
    cursor: pointer;
  }

  #open-btn:hover{
	  opacity: 1;
  }

  .sidebarfooter{
	text-align: center;
    color: #fff;
    position: fixed;
    width: 18%;
    background: #3333FD;
    padding: 10px;
  }

  .intro{
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

@media only screen and (max-width: 600px) {

	.outer_block:hover{
		transform: scale(1);
	}

}