@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

h1,h2,h3,h4,h5,h6,p{
	font-family: 'Lexend Mega', sans-serif;
	line-height: 40px;
}

h5{
    font-size: 1.3rem;
}

.dark-section{
	background: #000;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-links{
    text-align: left;
}

.button-links a{
	border: 2px solid #fff;
    padding: 2% 5%;
    margin-right: 2%;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    transition: all ease 0.5s;
}


.button-links a:hover{
    border: 2px solid #000;
    color: #000;
    background: #fff;
    transition: all ease 0.5s;
}


.button-links a i{
	margin-right: 10px;
}

.profile-pic{
	width: 30% !important;
}



.sub-links a{
     color: #3B3B3B;
     text-decoration: none;
     font-size: 1.5rem;
     font-weight: 500;   
}

/*subpages - projects*/

.back-to-home{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.back-to-home a i{
    margin-right: 5px;
}


.back-to-home a{
    color: #000;
    text-decoration: none;
}

.sub-header{
    background: #000;
    color: #fff;
    height: 20vh;
    display: flex;
    align-items: center;

}



